<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="css/contato.css">
</head>

<body>

    <div class="col-12 col-lg-6 h-50 item-move-l">
        <h4>Redes sociais</h4>
        <a href="https://wa.me/5583987316067"><i class="bi bi-whatsapp h2 px-2 contato-btn"></i></a>
        <a href="tel:+5583987316067"><i class="bi bi-telephone h2 px-2 contato-btn"></i></a>
        <a href="https://m.me/lucia.malaquias.56"><i class="bi bi-messenger h2 px-2 contato-btn"></i></a>
        <p class="mt-5"><i class="bi bi-geo-alt-fill"></i> Paraíba - João Pessoa - Valentina de Figueiredo</p>
    </div>

    <div class="col-12 col-lg-6 mt-5 mt-lg-0 item-move-r">
        <h4>Fale comigo</h4>
        <form class="form-group" autocomplete="off">
            <div class="row text-end">
                <div class="col">
                    <input id="subject" type="text" class="form-control my-3" placeholder="Assunto">
                    <textarea id="message" cols="50" rows="8" class="form-control my-3" placeholder="Mensagem"></textarea>
                    <button class="btn btn-success" onclick="sendEmail()">Enviar</button>
                </div>
            </div>
        </form>
    </div>

</body>

</html>