<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="row">
        <h2 id="texto-inicial-1"><em>Assistência técnica domiciliar</em></h2>
        <h2 id="texto-inicial-2"><em>+ Mais de 15 anos de experiência no mercado</em></h2>
    </div>
    <div class="row pt-4 px-lg-5">
        <div class="col mt-lg-5 mb-lg-0">
            <h2>Serviços</h2>
            <ul>
                <li>Homecare</li>
                <li>Furo de orelha humanizado</li>
                <li>Aplicação de injetáveis</li>
                <li>Curativos</li>
                <a id="a-ver-mais" href="#" onclick="turnOnPage('servicos')">Ver mais</a>
            </ul>
        </div>
        <div class="col d-none d-lg-block">
            <img src="img/fundo.png" alt="imagem planta" id="img-planta">
        </div>
    </div>
</body>
</html>