<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="css/servicos.css">
</head>

<body>
    <div class="col-12" style="text-align: justify; color: var(--cor-terciaria);">
        <div class="row">

            <div class="col-12 col-lg-6 px-lg-5 pb-5 item-move-l">
                <div class="row">
                    <h3>Homecare</h3>
                </div>
                <div class="row">
                    <p>
                        Dentre todos os anos da minha carreira, dediquei aos serviços de HomeCare especializado em tratamento do paciente em domicílio. São inúmeras vantagens para aderir ao HomeCare.<br><br>
                        <i class="bi bi-arrow-right-short h4"></i>Atenção individualizada e manutenção da rotina <br>
                        <i class="bi bi-arrow-right-short h4"></i>Segurança para o paciente e melhor adesão ao tratamento <br>
                        <i class="bi bi-arrow-right-short h4"></i>Proteção contra o Covid-19 para o paciente <br>
                        <i class="bi bi-arrow-right-short h4"></i>Menor risco de infecções hospitalares <br>
                        <i class="bi bi-arrow-right-short h4"></i>Envolvimento da família e humanização <br>
                        <i class="bi bi-arrow-right-short h4"></i>Redução do tempo de internação hospitalar
                    </p>
                </div>
                <div class="row px-5 py-3">
                    <img src="img/servicos/homecare.jpg" alt="serviço homecare" class="img-servico">
                </div>
                <div class="row text-center">
                    <a href="https://api.whatsapp.com/send?phone=5583987316067&text=Oi%20L%C3%BAcia,%20%C3%A9%20sobre%20o%20HomeCare"><button class="btn btn-success">Conversar sobre</button></a>
                </div>
            </div>

            <div class="col-12 col-lg-6 px-lg-5 pb-5 item-move-r">
                <div class="row">
                    <h3>Furo de orelha humanizado</h3>
                </div>
                <div class="row">
                    <p>
                        É uma técnica que combina diversas ações para um procedimento sem traumas para o recém-nascido.
                        São utilizadas técnicas de acupuntura e pomada anestésica para garantir um procedimento seguro e
                        no tempo da sua bebê, além disso, os brincos são esterilizados e antialérgicos. <br> <br>
                        <i class="bi bi-arrow-right-short h4"></i>Técnica Humanizada <br>
                        <i class="bi bi-arrow-right-short h4"></i>Sem trauma para o seu bebê <br>
                        <i class="bi bi-arrow-right-short h4"></i>Rápido, simples e não causa dor <br>
                        <i class="bi bi-arrow-right-short h4"></i>Feito no tempo do bebê <br>
                        <i class="bi bi-arrow-right-short h4"></i>Ambiente confortável para o bebe e os pais <br>
                        <i class="bi bi-arrow-right-short h4"></i>Baixíssimo índices de infecções
                    </p>
                </div>
                <div class="row px-5 py-3">
                    <img src="img/servicos/furo_de_orelha.jpg" alt="serviço furo de orelha humanizado"
                        class="img-servico">
                </div>
                <div class="row text-center">
                    <a href="https://api.whatsapp.com/send?phone=5583987316067&text=Oi%20L%C3%BAcia,%20%C3%A9%20sobre%20o%20furo%20de%20orelha"><button class="btn btn-success">Conversar sobre</button></a>
                </div>
            </div>

            <div class="col-12 col-lg-6 px-lg-5 pb-5">
                <div class="row">
                    <h3>Aplicação de injetáveis</h3>
                </div>
                <div class="row">
                    <p>
                        Aplicação de medicações pela via parenteral e intramúscular.
                    </p>
                </div>
                <div class="row px-5 py-3">
                    <img src="img/servicos/injetaveis.jpg" alt="serviço injetáveis" class="img-servico">
                </div>
                <div class="row text-center">
                    <a href="https://api.whatsapp.com/send?phone=5583987316067&text=Oi%20L%C3%BAcia,%20%C3%A9%20sobre%20aplicação%20de%20injetaveis"><button class="btn btn-success">Conversar sobre</button></a>
                </div>
            </div>

            <div class="col-12 col-lg-6 px-lg-5 pb-5">
                <div class="row">
                    <h3>Curativos</h3>
                </div>
                <div class="row">
                    <p>
                        Um material aplicado diretamente sobre feridas com o objetivo de as tratar e proteger. A sua constituição é variada, abrange desde pensos-rápidos (band-aids) a compressas de gaze fixas com fita adesiva.
                    </p>
                </div>
                <div class="row px-5 py-3">
                    <img src="img/servicos/curativo.jpg" alt="serviço injetáveis" class="img-servico">
                </div>
                <div class="row text-center">
                    <a href="https://api.whatsapp.com/send?phone=5583987316067&text=Oi%20L%C3%BAcia,%20%C3%A9%20sobre%20curativos"><button class="btn btn-success">Conversar sobre</button></a>
                </div>
            </div>

            <div class="col-12 col-lg-6 px-lg-5 pb-5">
                <div class="row">
                    <h3>Ventilação Mecânica</h3>
                </div>
                <div class="row">
                    <p>
                        É um método de substituição da ventilação normal. A ventilação mecânica pode salvar vidas e é usada na ressuscitação cardiopulmonar, medicina de tratamento intensivo, e anestesia.
                    </p>
                </div>
                <div class="row px-5 py-3">
                    <img src="img/servicos/mecanica.jpg" alt="serviço injetáveis" class="img-servico">
                </div>
            </div>

            <div class="col-12 col-lg-6 px-lg-5 pb-5">
                <div class="row">
                    <h3>Pacientes de alta complexidade</h3>
                </div>
                <div class="row">
                    <p>
                        Atendimento de pacientes de alta complexidade com grande dependência no leito.
                    </p>
                </div>
                <div class="row px-5 py-3">
                    <img src="img/servicos/paciente.jpg" alt="serviço injetáveis" class="img-servico">
                </div>
            </div>
        </div>
    </div>
</body>

</html>