<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="css/sobre.css">
</head>

<body>

    <div class="col-12 col-lg-6 item-move-l">
        <h3>Informações adicionais</h3>
        <span><strong>Instituição de ensino</strong> Nova Esperança</span>

        <h3 class="pt-5">Experiências profissionais</h3>
        <p>
            Hospital Geral Santa Isabel <br> 
            Hospital Infantil Rodrigues de Aguiar <br>
            Hospital Residencial <br>
            Integra Saúde <br>
            Bem Cuidar Homecare <br>
            Hospital Residencial Homecare <br>
            Cooperativa da Saúde <br>
            Cooperativa Nordeste <br>
            La Santé Saúde <br>
        </p>
    </div>

    <div class="col-12 col-lg-6 item-move-r pt-4 pt-lg-0">
        <div class="row">
            <h3>Algumas das minhas habilidades e experiências</h3>
            <div class="col-12 col-lg-6 pt-3">
                <ul>
                    <li>Aplicação de clexane/insulina</li>
                    <li>Ventilação mecânica</li>
                    <li>Punção Venosa</li>
                    <li>Cadeirante</li>
                    <li>PICC Line</li>
                    <li>Pct. Alzheimer</li>
                    <li>Aspiração VAS</li>
                    <li>Traqueostomia</li>
                    <li>Bomba de Infusão Contínua</li>
                    <li>Curativos</li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 pt-0 pt-lg-3">
                <ul>
                    <li>Venturi</li>
                    <li>BiPAP</li>
                    <li>Pediatria</li>
                    <li>Colostomia</li>
                    <li>Enteroclisma</li>
                    <li>Sonda Nasogástrica</li>
                    <li>Sonda Nasoenteral</li>
                    <li>Sonda Vesical</li>
                    <li>Gastrostomia</li>
                </ul>
            </div>
        </div>
    </div>
    
</body>

</html>